@import "../style/global";

.active {
  background-color: var(--bg);
  @include hover("active") {
    transition-duration: var(--t-duration);
    background-color: var(--hover-bg);
  }
}

.hover {
  background-color: var(--bg);
  @include hover("hover") {
    transition-duration: var(--t-duration);
    background-color: var(--hover-bg);
  }
}

.default {
  background-color: var(--bg);
  @include hover("default") {
    transition-duration: var(--t-duration);
    background-color: var(--hover-bg);
  }
}
