$breakpoints: (
  undefined: "screen and (min-width: 400px)",
  sm: "screen and (min-width: 640px)",
  md: "screen and (min-width: 768px)",
  lg: "screen and (min-width: 1024px)",
  xl: "screen and (min-width: 1280px)",
  2xl: "screen and (min-width: 1536px)",
);

// smの場合640px以上のときにスタイルが適用される
// @include media(sm) {...style}
@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$orientation: (
  portrait: "portrait",
  landscape: "landscape",
);

@mixin orientation($arg) {
  @media (orientation: #{map-get($orientation,$arg)}) {
    @content;
  }
}

@mixin shadow-1($blur) {
  box-shadow: 0 0 $blur 0px var(--s-bg);
}

$hover-type: ("active", "hover", "default");
// モバイルのときはhoverの代わりにactiveを使うようにする
// sample:
// @import "@monax-owo/style/global";
// @include hover() {
//   background-color: var(--hover-bg);
// }
@mixin hover($mode: "default") {
  @if index($hover-type, $mode) == null {
    @error "value: \"#{$mode}\" `$mode` は #{nth($hover-type, 1)}, #{nth($hover-type, 2)}, #{nth($hover-type, 3)} のいずれかにしてください。";
  }

  @if not($mode == nth($hover-type, 2)) {
    &:active {
      @content;
    }
  }

  @if not($mode == nth($hover-type, 1)) {
    @include media(md) {
      &:hover {
        @content;
      }
    }
  }
}
