@use "_variable" as *;
@use "_function" as *;
@use "_mixin" as *;
@use "_theme" as *;

.shadow-1 {
  @include shadow-1(var(--blur));
}

.hover-1 {
  @include hover() {
    background-color: var(--hover-bg);
  }
}

:is(button, .btn):not(.def) {
  all: unset;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
  width: auto;
  color: inherit;
  font: inherit;
  line-height: normal;
}

input:not(.def) {
  border: 1px solid var(--b-bg);
  border-radius: var(--b-radius);
  background-color: var(--bg);
  padding: 0 0.4rem;
  color: inherit;
  &:focus-visible {
    outline: 1px solid var(--text);
  }
}
